<div class="loginContainer">
  <div>
    Name:
    <input [(ngModel)]="userInput.username" placeholder="Name" />
  </div>
  <div>
    Password:
    <input [(ngModel)]="userInput.password" placeholder="Password" type="password" />
  </div>
  <div>
    <button mat-button class="bg-light" (click)="register(userInput)">Register</button>
    <button mat-button class="bg-success text-light ms-3" (click)="login(userInput)">Login</button>
  </div>
  <p *ngIf="error" class="text-danger">{{ error }}</p>
  <asl-google-signin-button type="standard" size="medium"> </asl-google-signin-button>
</div>
