.loginContainer {
  width: 100%;
  background-color: #e1e6ef;
  color: #1d2433cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .socialButtons {
    display: flex;
    align-items: center;
    gap: 1rem;

    .facebookBtn {
      border: none;
      background: transparent;
      border-radius: 5px;
      img {
        width: 110px;
      }
    }
  }
}
