<div class="footerContainer gap2">
  <div class="footerDetails gap2">
    <div class="d-flex gap2 flex-wrap justify-content-center">
      <button class="linkImage">
        <img src="../../../assets/images/gplay.png" alt="google image" />
      </button>

      <button class="linkImage">
        <img src="../../../assets/images/applestore.png" alt="apple image" />
      </button>
    </div>

    <div class="footerLinks gap2">
      <a href="#">Ποιοι είμαστε</a>
      <a href="#">Επικοινωνία</a>
      <a href="#">Όροι χρήσης</a>
    </div>
  </div>

  <span class="copyRightText">Copyright © Weathergrid 2023</span>
</div>
