<nav class="headerContainer shadowBottom navbar navbar-expand-sm">
  <img class="logoImg" src="assets/images/logo.png" alt="logo header" />
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasNavbar"
    aria-controls="offcanvasNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header shadowBottom">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1">
        <li class="nav-item dropdown">
          <span
            class="nav-link dropdown-toggle linkColor"
            id="offcanvasNavbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Υπηρεσίες
          </span>
          <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
            @for (service of services; track service) {
              <li>
                <a class="dropdown-item" [href]="service.link">{{ service.label }}</a>
              </li>
            }
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link linkColor" href="#">Σύνδεση</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
