<div class="leftSideContainer">
  <span class="title mb-2">Favorite Locations</span>

  <mat-form-field class="searchBox" appearance="outline">
    <mat-icon matIconPrefix class="p-0">search</mat-icon>
    <input
      id="searchInput"
      type="text"
      matInput
      placeholder="Search Location"
      (keyup.enter)="searchCity()"
      [(ngModel)]="searchInput" />
    @if (!showLoading) {
      <button class="searchClearButton" mat-button matSuffix (click)="clearSearch()"><mat-icon>close</mat-icon></button>
    } @else {
      <button mat-button matSuffix>
        <mat-spinner color="primary" diameter="20"></mat-spinner>
      </button>
    }
    <mat-hint class="text-danger" *ngIf="searchError"> Input not valid. </mat-hint>
  </mat-form-field>

  <ng-container *ngrxLet="favoriteCitiesData$ as favoriteCitiesData">
    @for (favoriteCityData of favoriteCitiesData; track favoriteCityData) {
      <div
        class="favoriteCity mb-3"
        [ngClass]="{
          selectedCity: (selectedCity$ | async)?.toLowerCase() === favoriteCityData.cityName?.toLowerCase()
        }"
        (click)="handleFavoriteCityClicked(favoriteCityData)">
        <div class="w-100 details align-items-center">
          <div class="favoriteCityLeftSide">
            <img class="weatherIcon" [src]="favoriteCityData.currentWeatherIcon" alt="" />
            <div class="fw-bold">{{ favoriteCityData.max }}&deg;C - {{ favoriteCityData.min }}&deg;C</div>
          </div>
          <div class="favoriteCityRightSide">
            <div>
              <span class="separator">|</span>
              <span>{{ favoriteCityData.cityName }}</span>
            </div>

            <mat-icon class="ms-auto">chevron_right</mat-icon>
          </div>
        </div>
      </div>
    }
  </ng-container>
</div>
