<div class="detailsContainer">
  <div class="titleDiv">
    <div class="smallScreenVisible">
      <button mat-button (click)="handleResetSelectedCity()">
        <mat-icon class="backButton">chevron_left</mat-icon>
      </button>
    </div>
    <div class="title">
      <div class="d-flex">
        <span class="cityName">Thessaloniki</span>
        <span class="bigScreenVisible">,&nbsp;</span>
      </div>

      <span>Central Macedonia, Greece</span>
    </div>
    <button mat-mini-fab class="bg-white"><mat-icon class="text-dark">favorite</mat-icon></button>
  </div>

  <div class="cityWeather mt-4">
    <div class="currentTemperature">
      <h2 class="fw-bold">22&deg;C</h2>
      <span>Day {{ cityDetails.max }}&deg;C - Night {{ cityDetails.min }}&deg;C</span>
    </div>
    <img [src]="cityDetails.currentWeatherIcon" alt="" />
  </div>

  <div class="chartDiv">
    <div class="chartTitleDiv">
      <span class="chartTitle">Temperature</span>
      <button mat-button (click)="refreshLineChart()"><mat-icon>sync</mat-icon></button>
    </div>

    <div class="chart">
      <div echarts [options]="lineChartOption" [loading]="lineChartLoading"></div>
    </div>
  </div>

  <div class="chartDiv">
    <div class="chartTitleDiv">
      <span class="chartTitle">Maximum Temperature</span>
      <button mat-button (click)="refreshGaugeChart()"><mat-icon>sync</mat-icon></button>
    </div>

    <div class="chart">
      <div echarts [options]="gaugeChartOption" [loading]="gaugeChartLoading"></div>
    </div>
  </div>

  <div class="chartDiv">
    <div class="chartTitleDiv">
      <span class="chartTitle">Air Quality Index</span>
      <button mat-button (click)="refreshRadarChart()"><mat-icon>sync</mat-icon></button>
    </div>

    <div class="chart">
      <div echarts [options]="radarChartOption" [loading]="radarChartLoading"></div>
    </div>
  </div>
</div>
