@if (currentCityWeatherDetails) {
  <div class="detailsContainer">
    <div class="titleDiv">
      <div class="smallScreenVisible">
        <button mat-button (click)="handleResetSelectedCity()">
          <mat-icon class="backButton">chevron_left</mat-icon>
        </button>
      </div>
      <div class="title">
        <div class="d-flex">
          <span class="cityName">{{ currentCityWeatherDetails.name }}</span>
          <span class="bigScreenVisible">,&nbsp;</span>
        </div>

        <span>{{ currentCityWeatherDetails.region }}, {{ currentCityWeatherDetails.country }}</span>
      </div>
      <ng-container *ngrxLet="{ isLoggedIn: isLoggedIn$, selectedCityIsSaved: selectedCityIsSaved$ } as context">
        <button
          [attr.disabled]="!context.isLoggedIn"
          [disabled]="!context.isLoggedIn"
          mat-mini-fab
          class="bg-white"
          (click)="saveUnSaveFavoriteCity(context.selectedCityIsSaved, currentCityWeatherDetails.name)">
          <mat-icon class="text-dark" [ngClass]="{ cityIsSaved: context.selectedCityIsSaved }">favorite</mat-icon>
        </button>
      </ng-container>
    </div>

    <div class="cityWeather mt-2">
      <div class="currentTemperature">
        <h2 class="fw-bold">{{ currentCityWeatherDetails.current }}&deg;C</h2>
        <span>Day {{ currentCityWeatherDetails.max }}&deg;C - Night {{ currentCityWeatherDetails.min }}&deg;C</span>
      </div>
      <img [src]="currentCityWeatherDetails.currentWeatherIcon" alt="" />
    </div>

    <div class="chartDiv">
      <div class="chartTitleDiv">
        <span class="chartTitle">Temperature</span>
        <button mat-button (click)="refreshLineChart()"><mat-icon>sync</mat-icon></button>
      </div>

      <div class="dayButtonsDiv">
        <button mat-button disabled class="selectedDay dayButton">Yesterday</button>
      </div>

      <div class="chart">
        <div echarts [options]="lineChartOption" [loading]="lineChartLoading$ | async"></div>
      </div>
    </div>

    <div class="chartDiv">
      <div class="chartTitleDiv">
        <span class="chartTitle">Maximum Temperature</span>
        <button mat-button (click)="refreshGaugeChart()"><mat-icon>sync</mat-icon></button>
      </div>

      <div class="dayButtonsDiv">
        <div class="d-flex">
          @for (day of chartDay; track $index) {
            <button
              mat-button
              class="dayButton"
              (click)="setGaugeChartDay(day)"
              [ngClass]="{ selectedDay: gaugeChartDay === day }">
              {{ day | titlecase }}
            </button>
          }
        </div>
      </div>

      <div class="chart">
        <div echarts [options]="gaugeChartOption" [loading]="gaugeChartLoading"></div>
      </div>
    </div>

    <div class="chartDiv">
      <div class="chartTitleDiv">
        <span class="chartTitle">Air Quality Index</span>
        <button mat-button (click)="refreshRadarChart()"><mat-icon>sync</mat-icon></button>
      </div>

      <div class="dayButtonsDiv">
        <div class="d-flex">
          @for (day of chartDay; track $index) {
            <button
              mat-button
              class="dayButton"
              (click)="setRadarChartDay(day)"
              [ngClass]="{ selectedDay: radarChartDay === day }">
              {{ day | titlecase }}
            </button>
          }
        </div>
      </div>

      <div class="chart">
        <div echarts [options]="radarChartOption" [loading]="radarChartLoading"></div>
      </div>
    </div>
  </div>
}
