.detailsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;

  .titleDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;

    .backButton {
      transform: scale(2);
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media (max-width: 1023px) {
    .titleDiv {
      .title {
        flex-direction: column;

        .cityName {
          font-weight: bold;
        }
      }
    }
  }

  .cityWeather {
    width: 100%;
    padding: 24px;
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .currentTemperature {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-weight: bold;
    }
  }

  .chartDiv {
    padding: 24px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 3rem;

    .chartTitleDiv {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .chartTitle {
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 5px;
      }
    }

    .dayButtonsDiv {
      width: 100%;
      display: flex;
      justify-content: center;
      color: #1d2433cc;

      .selectedDay {
        border-bottom: 2px solid #7b61ff;
      }
    }

    .chart {
      border: 1px solid #e1e6ef;
    }
  }
}
